/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-lighter: #EBF0FD;
    --color-dark: #23272A;
    --color-lightblue: #8EA1E1;
    --bg_lightgray: #F6F6F6;
    --main-font: 'Montserrat', sans-serif;

}

img {
    max-width: 100%;
}

.container {
    width: 1440px;
    margin: auto;
    
    
}

.p_relative {
    position: relative;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}


/* Header */

header {
    height: 100vh;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.header.container{
    padding: 40px 0;
}

nav>.logo.header, 
.top_nav,.button  {
    display: inline-block;
}

.menu {
    text-align: center;
    
}

.logo.header{   
    position: relative;
    right:300px;
}

.logo.header>img {
    height: 50px;
    vertical-align: middle;
}


header ul {
    list-style: none;
}

.top_nav.links>li{
    display: inline-block;
    padding: 0 20px;
}

.top_nav.links a {
    text-decoration: none;
    color: var(--color-lighter);
    font-weight: bold;
}

.button {
    position: relative;
    left: 300px;
}

.button>button {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--color-lighter);
    font-style: var(--main-font);
}

.section_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section_header> h1,.header_p,.download_buttons {
    text-align: center;
    color: var(--color-lighter);

}

.section_header>h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

.section_header>p {
    font-size: 25px;
}

.download_buttons {
    padding: 30px 0;
}

.download_buttons>button {
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    font-size: 18px;
    font-style: var(--main-font);
    margin: 0 10px;
}

.button_right {
    background-color: var(--color-dark);
    color: var(--color-lighter);
}

 

/* Main */

.main.container {
    padding: 70px 0;
}
.main.container>.content{
    float: left;
}

.main.container .content.img {
    width: 70%;
}

.content.text {
    width: 30%;
    padding: 50px 0;
}


.content.img img {
    height: 500px;
    width: 90%;
    
}

.content_title {
    font-size: 50px;
    font-weight: 900;
}

 .content_paragraph {
    font-size: 15px;
    padding: 20px 0;
}

svg {
    display: block;
}

.wave.rotate {
    transform: rotate(180deg);
}

.wave svg path {
    fill: var(--bg_lightgray);
}

.container_gray {
    background-color: var(--bg_lightgray);
}

















